nav{
	width:100%;
	min-width: 1200px;
	margin-top:20px;
	height:450px;
	overflow:hidden;
	position:relative;
	box-sizing: border-box;
	margin: 0 auto;
}
ul.nav_ul{
	position:relative;
	position:absolute;

}
ul.nav_ul li{
	position:absolute;
}
#nav_circle{
	width:300px;
	height:10px;
	display:flex;
	justify-content:center;
	z-index:100;
	position:absolute;
	bottom:30px;
	left:40%;
}
#nav_circle div{
	width:10px;
	height:10px;
	border-radius:50%;
	border:1px solid #fff;
	margin-left:10px;
    cursor: pointer;
}
#nav_circle div:hover{
	background:#fff;
}

